.NavBar {
    background-color: #efb6e0;
}

.navbar-brand img {
    height: 60px;
}

.NavLink {
    padding: 5px;
    color: #616161;
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}

.NavLink:hover {
    color: #ec8038;
}

.Active {
    color: #ec950a;
    font-weight: bold;
}
  
.Active i {
    color: #eba638;
}
  