.Content {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
}

.Header {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.Input {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.Button {
  background-color: #2142b2;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.Button:hover {
  background-color: #0d3dab;
}

.Link {
  font-size: 0.9rem;
  color: #2142b2;
  text-decoration: none;
}

.Link span {
  font-weight: bold;
}

.Link:hover {
  text-decoration: underline;
  color: #0d3dab;
}

.FullHeightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.SignUpRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 950px;
}

.FormColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.FillerImage {
  width: 100%;
  max-width: 400px;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .SignUpRow {
    flex-direction: column;
    align-items: center;
  }

  .FormColumn {
    margin-right: 0;
  }

  .FillerImage {
    max-width: 100%;
    height: auto;
  }
}